<div class="carousel-item <%= i == 0 ? 'active' : '' %>">
	<div class="row mt-3">
		<div class="col-12 d-flex justify-content-center">
			<img src="<%= d %>" class="d-block rounded" alt="..." />
		</div>
	</div>
</div>

<style>
	.carousel-item img {
		height: 400px;
		width: 100%;
		aspect-ratio: 4/3;
		object-fit: contain;
	}
</style>
