<nav class="navbar navbar-expand-lg border-bottom bg-dark" data-bs-theme="dark">
	<div class="container">
		<div>
			<a class="navbar-brand" href="#">
				<img
					src="imgs/logo.png"
					alt="Logo"
					width="30"
					height="24"
					class="d-inline-block align-text-top rounded" />
				Chase Full Potential
			</a>
		</div>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<hr />
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#testimonials"
						>Testimonials</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#programs"
						>Programs</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#professors"
						>Meet The Proffesors</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link text-warning" href="#affilate"
						>Affiliate Program</a
					>
				</li>
				
			</ul>
			<hr>
			<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a
						href="https://app.chasefullpotential.com"
						role="button"
						class="btn btn-warning"
						>Login</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>

<style>
	.navbar {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
	}
</style>

<script>
	const nav = document.querySelector(".navbar");
	const h = nav.offsetHeight;
	document.body.style.paddingTop = h + "px";
</script>
