<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("components/head.ejs") %>
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body class="text-white">
		<div class="container-fluid">

            <%- include("components/home/title.ejs", { content: "Programs"}) %>
            <%- include("components/admin/program.ejs") %>
        </div>
	</body>
</html>
