.jump {
	animation: infinite 1s jump;
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(2px);
	}
	50% {
		transform: translateY(5px);
	}
	75% {
		transform: translateY(2px);
	}

	100% {
		transform: translateY(0);
	}
}

.focus {
	animation: infinite 1s focus;
}

@keyframes focus {
	0% {
		transform: scale(0.98);
	}

	25% {
		transform: scale(0.99);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(0.99);
	}

	100% {
		transform: scale(0.98);
	}
}

.rotate {
	animation: 2s rotate infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(2deg);
	}
	50% {
		transform: rotate(-2deg);
	}
	75% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(0);
	}
}
