:root {
	--green-color: rgba(71, 165, 84, 0);
	--bs-warning-rgb: 242, 211, 132;
	--bs-btn-bg: #fff;
}

body {
	position: static;
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlDhC7XxJcrFWc-shLuTylnrIbN1zvr5EHPA&usqp=CAU");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	overflow-x: hidden;
}

.container-fluid {
	min-height: 100vh;
}

.gold {
	background-image: linear-gradient(
		to right,
		#462523 0,
		#cb9b51 22%,
		#f6e27a 45%,
		#f6f2c0 50%,
		#f6e27a 55%,
		#cb9b51 78%,
		#462523 100%
	);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}
.btn-gold {
	background-image: linear-gradient(
		to right,
		#462523 0,
		#cb9b51 22%,
		#f6e27a 45%,
		#f6f2c0 50%,
		#f6e27a 55%,
		#cb9b51 78%,
		#462523 100%
	);
}

.btn-gold:hover {
	transform: scale(1.01);
	color: black;
}
