<div class="d-flex justify-content-center py-2">
	<div class="card text-bg-dark" style="width: 18rem">
		<img src="<%= d.image %>" class="card-img-top p-3 rounded-5" alt="..." />
		<div class="card-body">
			<h5 class="card-title fs-4 border-bottom text-center py-2"><%= d.title %></h5>
		</div>
	</div>
</div>
