<div class="row p-3 text-center" data-aos="bounceInUp">
	<div class="card bg-transparent text-white mb-3">
		<div class="row g-0">
			<div class="col-md-3">
				<img src="imgs/logo.png" class="img-fluid rounded" alt="..." />
			</div>
			<div class="col d-flex align-items-center">
				<div class="card-body">
					<h2 class="card-title">Card title</h2>
					<p class="card-text fw-bold">
						This is a wider card with supporting text below as a natural lead-in
						to additional content. This content is a little bit longer.
					</p>
				</div>
			</div>
		</div>
	</div>
</div
