<!-- Row 7 -->
<hr />
<div class="row" data-aos-duration="2000" data-aos="flip-up">
	<h1 class="text-center focus">
		<p class="gold fw-bold">
			<i class="fa-solid fa-percent gold"></i>
			<i class="fa-solid fa-1 gold"></i>
			Campus
		</p>
	</h1>
	<hr />
	<div class="col-md-5">
		<p class="fs-5 fw-bold">
			It’s time to set yourself apart from everyone else. We want you to be
			successful on all bases. That means even the little things. With our 1%
			course you won’t just be looking like a man, but FEELING like one.
		</p>
		<ul class="list-unstyled fs-4">
			<li class="d-flex">
				<i class="fa-solid fa-check text-success mt-1 mx-2"></i>
				<p class="txt-6">
					Scientifically backed ways to combat hair loss effectively and
					maintain healthy and strong hair.
				</p>
			</li>
			<li class="d-flex">
				<i class="fa-solid fa-check text-success mt-1 mx-2"></i>
				<p class="txt-6">
					A guide to best optimize your hormones to make you feel productive,
					strong, and ready to take on the world.
				</p>
			</li>
			<li class="d-flex">
				<i class="fa-solid fa-check text-success mt-1 mx-2"></i>
				<p class="txt-6">
					The shortcuts and treatments you need to both maintain and maximize
					beard growth.
				</p>
			</li>
			<li class="d-flex">
				<i class="fa-solid fa-check text-success mt-1 mx-2"></i>
				<p class="txt-6">
					A skin care guide to enhancing your facial aesthetics.
				</p>
			</li>
		</ul>
	</div>
	<div class="col-md-7 txt-6">
		<ul class="list-unstyled fs-2 txt-6">
			<li class="d-flex">
				<i class="fa-solid fa-1 text-warning mt-2 mx-2">-</i>
				<p class="txt-6">
					Scientifically backed ways to combat hair loss effectively and
					maintain healthy and strong hair.
				</p>
			</li>
			<li class="d-flex">
				<i class="fa-solid fa-2 text-warning mt-1 mx-2">-</i>
				<p class="txt-6">
					A guide to best optimize your hormones to make you feel productive,
					strong, and ready to take on the world.
				</p>
			</li>
			<li class="d-flex">
				<i class="fa-solid fa-3 text-warning mt-1 mx-2">-</i>
				<p class="txt-6">
					The shortcuts and treatments you need to both maintain and maximize
					beard growth.
				</p>
			</li>
			<li class="d-flex">
				<i class="fa-solid fa-4 text-warning mt-1 mx-2">-</i>
				<p class="txt-6">
					A skin care guide to enhancing your facial aesthetics.
				</p>
			</li>
		</ul>

		<button class="btn btn-warning btn-lg w-100">Become %0.1</button>
	</div>
</div>
