<div class="row">
	<div
		id="home-slider"
		class="carousel slide rounded p-2"
		data-bs-ride="carousel">
		<div class="carousel-indicators">
			<% slideData.map((d,i) => { %>
			<button
				type="button"
				data-bs-target="#home-slider"
				data-bs-slide-to="<%= i %>"
				class="<%= i === 0 ? 'active' : '' %>"
				aria-current="true"
				aria-label="Slide"></button>
			<!--  -->
			<% }) %>
		</div>

		<div class="carousel-inner">
			<% slideData.map((d,i) => {%> <%- include("../homeSlider.ejs", {d,i}) %>
			<% }) %>
		</div>

		<button
			class="carousel-control-prev"
			type="button"
			data-bs-target="#home-slider"
			data-bs-slide="prev">
			<i class="fa-solid fa-chevron-left fs-1"></i>
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next"
			type="button"
			data-bs-target="#home-slider"
			data-bs-slide="next">
			<i class="fa-solid fa-chevron-right fs-1"></i>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
