<!-- Row 5 -->
<hr data-aos-duration="2000" data-aos="flip-right" />
<div class="row" data-aos-duration="2000" data-aos="flip-right">
	<div class="col-md-8">
		<p class="text-center fw-bold fs-4 mt-5 jump">
			Our courses are methodically designed and tested to help you achieve
			greatness. We believe that in order to change the course of your life, you
			need to reprogram your mind. Status, wealth, and most importantly
			happiness, are all just a click away.
		</p>
		<div class="d-grid gap-2 col-6 mx-auto">
			<button class="btn btn-warning btn-gold fw-bold">
				Join Now!
			</button>
		</div>	
	</div>
	<div class="col-md-4">
		<div class="d-flex justify-content-center">
			<img
				src="https://cdn.discordapp.com/attachments/1102803386283343892/1104838009012109382/IMG_3466.jpg"
				alt=""
				class="img-fluid rounded"
				style="max-height: 300px"
			/>
		</div>
	</div>
</div>
