<!-- Row 4 -->
<hr />
<div class="row" data-aos-duration="2000" data-aos="flip-left">
	<div class="col-md-4">
		<div class="d-flex justify-content-center">
			<img
				src="https://cdn.discordapp.com/attachments/1102803386283343892/1104837949805297724/web_cover.jpg"
				alt=""
				class="img-fluid rounded"
			/>
		</div>
	</div>

	<div class="col-md-8 mt-3">
		<h1 class="text-center focus">What is Chase Full Potential?</h1>
		<p class="text-center">
			Have self-doubt and fear of failure been holding you back from having the
			career you have always wanted? Is your lack of self-confidence preventing
			you from attracting meaningful relationships? Do you want to learn new
			skills, but just don't know where to start? Well, you have come to the
			right place. It's time to take control of your future and create the life
			you have always wanted. With the Chase Full Potential program, you will
			get real world guidance from professionals who have a proven track record
			of success. Our campus professors know what it takes to grow a successful
			business, to get dates with the woman of your dreams, and to cultivate
			valuable skills that make you money. Their courses will give you a
			step-by-step road map to success in each category. You also have access to
			our supportive online community where you can create new friendships and
			have a team of people cheering you on every step of the way. So, it's time
			to stop the excuses and start taking action! It's all right here...
		</p>
		<div class="d-grid gap-2 col-6 mx-auto">
			<button class="btn btn-warning btn-gold fw-bold">
				Join Now!
			</button>
		</div>	
	</div>
</div>
