<!-- Row 5 -->
<div class="row mt-3" data-aos="flip-down">
	<div class="card bg-transparent text-white d-flex mx-auto" style="width: 50rem;">
		<img src="<%= d.image %>" class="img-fluid" alt="..."/>
		<div class="card-body text-center">
			<h1 class="card-title"><%= d.title %></h1>
			<p class="card-text"><%= d.description %></p>
			<a href="#" class="btn btn-warning w-100">Go somewhere</a>
		</div>
	</div>
</div>
