<div
	id="<%= content.toLowerCase() %>"
	class="mt-3 p-3 text-center text-warning fs-2">
	<div class="row gx-1 text-center">
		<div class="col">
			<img
				src="https://static.wixstatic.com/media/ead5dc_c2c5f55f920547cea4bc0ca27b27b212~mv2.png/v1/fill/w_248,h_454,al_c,lg_1,q_85,enc_auto/Leaves-01.png"
				alt="" 
				width="30px"/>
		</div>
		<div class="col">
			<p class="mt-2"><%= content %></p>
		</div>
		<div class="col">
			<img
				src="https://static.wixstatic.com/media/ead5dc_5d84b89b55f8478cb1e77bd3b058d9ab~mv2.png/v1/fill/w_248,h_454,al_c,lg_1,q_85,enc_auto/cfo1003_logo_final-02.png"
				alt="" 
				width="30px"/>
		</div>
	</div>
	<hr />
</div>
